{% extends 'base.html' %}
{% block title %}Sign In - {{ block.super }}{% endblock %}
{% block content %}
    <div class="row">
        <h2 style="margin-top: 2rem">Sign in</h2>
        {% if result %}
            {% if result.state == 'error' %}
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <i class="fa fa-exclamation-triangle" style="margin-right: 1rem"></i>
                    <div>
                        {{ result.message }}
                    </div>
                </div>
            {% endif %}

        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Pasword</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>

{% endblock %}
{% block custom_script %}
    {{ block.super }}
{% endblock %}